@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --main-text-color: #777;
  --chord-text-color: red;
  --btn-bg-color: rgba(206, 154, 8, 255);
  --nav-line-color: rgba(255, 255, 255, .3);
  --nav-text-color: white;
  --nav-top-color: #cb9808;
  --nav-bottom-color: #826105;
  --added-bg-color: greenyellow;
  --cart-bg-color: rgba(206, 154, 8, 255);
  --menino-color: #6BB7FF;
  --menina-color: #FF4FA7;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

.normal-text {
  font-weight: normal;
  color: var(--main-text-color);
}

.chord-style {
  font-weight: bold;
  color: var(--chord-text-color);
}

.chord {
  font-weight: bold;
  color: var(--chord-text-color);
}

.chord-space {
  font-weight: normal;
  color: var(--main-text-color);
}

.bold {
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid var(--nav-line-color);
  background-image: linear-gradient(to top, var(--nav-bottom-color) 10%, var(--nav-top-color) 100%);
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  position: relative;
  display: inline-block;
  margin: 10px 0;
}

.nav ul a {
  display: block;
  padding: 0.5em 2.5em;
  color: var(--nav-text-color);
  text-decoration: none;
}

.nav a:hover {
  background-color: var(--nav-line-color);
}

.cart-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: cover;
  vertical-align: middle;
  cursor: pointer;
}

.added {
  position: fixed;
  top: 60px;
  left: 10px;
  background-color: var(--added-bg-color);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.added ul {
  line-height: 2;
}

.added ul li {
  color: black;
  text-decoration: bold;
  list-style: none;
}

.songbook-name {
  text-align: center;
  margin: 0;
  font-size: 3em;
  font-family: "Anton", Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  padding-top: 1%;
}

.content-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.lyrics-meta {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.lyrics-meta-title {
  padding-right: 6px;
}

.lyrics {
  line-height: 1.5;
}

.menina {
  color: var(--menina-color);
}

.menino {
  color: var(--menino-color);
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.content-section p {
  margin: 1.5em 0;
}

.content-section a {
  text-decoration: none;
}

.content-section a:hover {
  text-decoration: underline;
}

.section-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Anton", Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 2em;
}

.beny-guitar-image {
  float: left;
  width: 40%;
  margin: 0 15px 5px 0;
  border-radius: 2%;
}

.songs {
  padding: 0 20px;
}

.songs-table {
  width: 100%;
  padding-top: 20px;
}

.songs-table th {
  background-color: var(--btn-bg-color);
  color: white;
  padding: 10px;
}

.songs-table th:hover {
  text-decoration: underline;
  cursor: pointer;
}

.songs-table td {
  padding: 13px;
  border-bottom: 1px solid var(--btn-bg-color);
}

.songs-table td a {
  text-decoration: none;
}

.songs-table td a:hover {
  text-decoration: underline;
}

.songs-table td:last-child {
  text-align: center;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--btn-bg-color);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
}

.btn:hover {
  background-color: rgba(123, 98, 30, 0.8);
}

.count {
  padding: 1em;
  padding-bottom: 3em;
}

#count-number {
  font-weight: bold;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .lyrics-meta-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .lyrics-meta-title {
    padding-right: 0;
  }

  .cart-icon {
    width: 50px;
    height: 50px;
  }

  .cart ul {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0; /* Make it full width on mobile */
    max-width: 100vw;
    box-sizing: border-box;
  }

  .cart ul li {
    /*display: inline-block;*/
    margin: 5px;
    text-align: center;
  }

  .cart ul li img {
    width: 100%;
    max-width: 120px; /* Fixed size for mobile */
    height: auto;
  }

  .added {
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .songbook-name {
    font-size: 2em;
  }

  .songs-table th,
  .songs-table td {
    padding: 10px;
    font-size: 0.9em;
  }

  .beny-guitar-image {
    display: block;
    float: none;
    width: 74%;
    max-width: 74%;
    margin: 0 auto 10px auto;
  }
}

@media print {
  .btn {
    display: none;
  }

  audio {
    display: none;
  }

  .nav ul {
    display: none;
  }
}